.regTitle {
	text-align: center;
	color: black;
	margin: 8px;
	font-size: large;
} 
.btn {
	width: 130px;
	background-color: orangered;
	margin-left: 0;
	margin-top: 30px;
	border-radius: 0.5em;
	height: 30px;
	font-size: x-small;
}
.autocomplete {
	position: relative;
	display: inline-block;
}
.gtlogo {
	width:200px;
}
#submit {
	background-color: orangered;
}
.form-control {
	width: 300px;
	height: 30px;
	margin-bottom: 10px;
	margin-top: -10px;
	font-size: x-small;
}
.card {
	width: 60px;
	height: 60px;
	border-radius: 20px;
}