body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.8;
    color: #f5f6f7;
    font-size: 20px;
}
.main {
    background-color: grey;
}
.topnav-default {
  height: auto;
}
.topnav {
   display: flex;
   flex-direction: row;
   list-style-type: none;
   background-color: grey;
}

.topnav li a:hover {
    color: orangered !important;
    font-weight: bold;
    text-decoration: none;
}
.gtlogo {
    width: 400px;
    text-align: right;
}
.sidenav {
    display: flex;
    background-color: grey;
}
.sidenav li a:hover {
    color: orangered !important;
    font-weight: bold;
    text-decoration: none;
}
.header {
    display: flex;
    padding-top: 1px;
    padding-bottom: 1px;
    border: 0;
    border-radius: 0;
    margin-left: 400px;
    font-size: 20px;
    font-weight: bolder;
    letter-spacing: 5px;
    background-color: grey;
    height: 100px;
    width: 800px;
    background-color: grey;
}
.menuBtn1 {
    padding: .375rem .75rem;
    background-color: orangered;
    color: black;
    font-size: 1.5rem;
    border-radius: 5px;
    transform-origin: top left;
    transform: rotate(10deg);
    width: 200px;
    height: 40px;
    margin: 90px 30px 100px 30px;
}
.menuBtn2 {
    padding: .375rem .75rem;
    color: black;
    background-color: white;
    font-size: 1.5rem;
    border-radius: 5px;
    transform: rotate(10deg);
    transform-origin: top right;
    transform: rotate(10deg);
    width: 200px;
    height: 40px;
    margin: 90px 0 100px 0;
}
.topnavBtn {
    display: flex;
    flex-direction: row;
    color:black; 
    background-color: #aaaaaa;
    display: inline-block;
    border-radius: 5px;
    border: 4px double orangered;
    margin: 30px 20px 10px 20px;
    padding:0 16px;
    width: 100px;
    height: 50px;
    list-style-type: none;
}
.mainBtn {
    padding: .375rem .75rem;
    margin: 50px 10px 0 0;
    background-color: white;
    color: grey;
    font-size: 1rem;
    line-height: 1;
    border-radius: 5px;
    width: 100px;
    height: 20px;
    list-style-type: none;
}
section {
    background-color: orangered;
    display: flex;
    flex-direction: row;
    transform: skew(-5deg);
    box-sizing: border-box;
    width: 3px;
    height: 750px;
    margin: 0 50px 0 100px;
}
.horLine {
    width: 750;
    height: 3px;
    margin: 0;
    border: none;
    transform: skew(5deg);
    background-color: orangered; 
    margin: 10px 0 10px 0;
}
a {
    color: #aaaaaa;
    transition: all ease-in-out 200ms;
}
.adverts {
    height: 600px;
}
.thumbnail {
    height:200px;
    width: 250px;
    border-radius: 8px;
}
.caption {
    border-radius: 8px;
}
.gridContent {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 100px;
}
.gridVideo {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    border-radius: 1em;
    grid-gap: 20px;
    margin: 30px 0 0 30px;
}
.ads {
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    width: 200px;
    height: 200px;
    border: 1px solid white;
    margin: 0 50px 0 100px;
    font-size: small;
    text-align: center;
}
a.active {
    background-color: orangered;
}
.login {
    padding: .375rem .75rem;
    margin: 10px 100px 10px 0;
    color: black !important;
    font-size: 1rem;
    line-height: 1;
    border-radius: 5px;
    width: 100px;
    height: 20px;
    list-style-type: none;
    border: 1px solid white;
}
.gridBtn {
    display: grid;
    grid-template-rows: 
    grid-gap: 1em;
}