body {
    font-family: BrownStd,sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.4;
}
.main {
    margin: 20px 50px;
    background-color: white;
}
.header {
    display: flex;
    flex-direction: row;
    padding-top: 2px;
    padding-bottom: 2px;
    font-size: 20px;
    font-weight: bolder;
    letter-spacing: 5px;
    height: 100px;
    background-color: #e7e7e7;
}
.topnav {
    display: flex;
    font-size: x-large;
    flex-direction: row;
    list-style-type: none;
    background-color: #e7e7e7;
    margin: 0px;
    height: 100px;
 }
 .list {
    height: 80px;
 }
.gtlogo {
    display: flex;
    width: 400px;
    text-align: center;
}
.nav__bottom-socials {
    display: inline-block;
    height: 15px;
    width: 350px;
    display:block;
    margin: 0 auto;
}
.nav__bottom-socials img {
    display: inline-block;
    height: 15px;
    padding: 0;
    margin: 100px 0 0 100px;
    width: 350px;
    display:block;
    margin: 0 auto;
}
.nav__top-search {
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
}
.nav__top-input {
    display: flex;
    text-align: right;
    height: 20px;
    border-radius: 8px;
}
.nav__top-icon {
    position: right;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    height: 13px;
    width: auto;
}
.nav__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}
.nav__bottom-item {
    font-family: itc-benguiat,sans-serif;
    text-decoration: none;
    color: #e94e1b;
    margin-right: 30px;
    font-size: 18px;
    transition: .3s;
}
.nav__top {
    display: grid;
    justify-content: space-between;
    align-items: right;
    margin-top: 30px;
}
.gridBtn {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1em;
    height: 18px;
    list-style-type: none;
    margin: 15px 10px auto auto;
}
.login {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 0.3em;
    box-sizing: border-box;
    background-color: #e7e7e7;
    border-radius: 0.3em;
    border: 4px solid #e94e1b;
    color: #474746;
    cursor: pointer;
    margin: 15px;
    text-decoration: none;
    text-align: center;
    padding: 4px 8px;
    font-size: small;
    font-weight: bold;
    width: 100px;
    height: 50px;
    list-style-type: none;
    
}
.loginBlock {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 0.3em;
    height: 18px;
    list-style-type: none;
    font-size: xx-small;
    margin: 15px 20px auto auto;
}

.topnav li a:hover {
    color: #e94e1b !important;
    font-weight: bold;
    text-decoration: none;
}

.sidenav {
    display: flex;
}
.sidenav li a:hover {
    color: #e94e1b !important;
    font-weight: bold;
    text-decoration: none;
}
.topnavBtn {
    display: flex;
    flex-direction: row;
    color:black; 
    display: inline-block;
    border-radius: 5px;
    margin: 30px 20px 5px 0;
    padding:0 16px;
    width: 100px;
    height: 50px;
    list-style-type: none;
}
.iconBlock {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: 0 10px 0 auto;

}
.sidenavBtn {
    box-sizing: border-box;
    background-color: #e94e1b;
    border-radius: 0.3em;
    border: 2px solid #e94e1b;
    color: #474746;
    cursor: pointer;
    display: flex;
    font-size: 1rem;
    margin: 15px;
    text-decoration: none;
    text-align: center;
    padding: 2px 10px;
    font-size: small;
    font-weight: bold;
    width: 70px;
    height: 25px;
}
.sidenav a:hover {
    color:black;
    background-color: #474746;
    font-weight: bold;
    text-decoration: none;
    border: none;
}
.gridVideo {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    border-radius: 1em;
    grid-gap: 20px;
    margin: 30px 0 0 30px;
}
.adverts {
    height: 600px;
}
.thumbnail {
    height:200px;
    width: 250px;
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
}
.caption {
    border-radius: 8px;
}
.gridContent {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 100px;
}
.ads {
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    width: 200px;
    height: 200px;
    border: 1px solid white;
    margin: 0 50px 0 100px;
    font-size: small;
    text-align: center;
}
/*a.active {
    background-color: orangered;
} */
.topnav a:visited {
    background: url(logo1.png) no-repeat 0 0;
    width:24px;
    height:24px;
    color:#474746;
    text-decoration: none;
}
.search {
    display: grid;
    row-gap: 0.2px;
    margin: 1px;
}
#searchForm .form-control {
    border-radius: 10px;
    border: 1px solid #474746;
    background: transparent;
    font-size: 16px;
    color: #bfc9ce;
    padding: 10px 25px 15px;
    height: 40px;
    box-shadow: none;
    margin: 0;
    width: 200px;
}
.form-control {
    display: block;
    float: left;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555555;
    background-color: #ffffff;
    background-image: none;
    border: 2px solid #cccccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
button, html input[type="button"], input[type="reset"], input[type="submit"] {
    cursor: pointer;
}
button, select {
    text-transform: none;
}
.fa {
    float: right;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 14px;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.aside-submit {
    background: transparent;
    border: none;
    position: absolute;
    margin: -40px 400px auto auto;
    top: -2px;
    height: 100%;
    width: 45px;
    font-size: 14px;
    padding-right: 24px;
}
.gridIcons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 2em;
    width: 20px;
    height: 20px;
    margin: 0 20px;
}
iframe {
    width: 200;
    height: 120;
    margin: 10px 15px 0 15px;
}

#userVidUpload {
    border-radius: 10px;
}