
.regTitle {
	text-align: center;
	color: black;
	margin: 8px;
	font-size: large;
} 
.btn {
	width: 150px;
	background-color: orangered;
	margin: 1em;
	border-radius: 1em;
}
.inp {
	border-radius: 1em;
}
.autocomplete {
	position: relative;
	display: inline-block;
}
.gtlogo {
	width:200px;
}
#submit {
	background-color: orangered;
}
.form-control {
	width: 300px;
}